@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -ms-text-size-adjust: 100%; // Disable auto-enlargement of small text in Safari
  -webkit-text-size-adjust: 100%; // Disable auto-enlargement of small text in Safari
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  border-color: #e0e0e0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/**
 * Removes the default spacing and border for appropriate elements.
 */
button {
  background: transparent;
  padding: 0;
}

/* make images easier to work with */
img,
picture {
  // max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
// @media (prefers-reduced-motion: reduce) {
//   *,
//   *::before,
//   *::after {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//   }
// }

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
 * Ensure horizontal rules are visible by default
 */
hr {
  border-width: 1px;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 0.5;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-size: inherit;
//   font-weight: inherit;
// font-family: sans-serif;
// }

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  // max-width: 100%;
  height: auto;
}
